
<!doctype html>


<html>

  <head>
   <title>Google Maps JavaScript API v3 Example: Marker Simple</title>

  </head>


  <body> <!-- onload="initialize()"> -->

    <div id="map_canvas"></div>


    <a href="#" class="find-shops">find coffee shop</a>

    <ul id="map-something">
      <!--   <li>lalala</li> -->
    </ul>
  </body>


</html>

