

<div id="find-shops">
  <button type="button" name="" value="" class="btn-block">Find a nice place to work</button>
</div>


<div id="map_canvas"></div>
  <div id="map-native-results">


  </div>

  <div id="map-distant-results">


  </div>

  <div id="map-something">

  </div>

   <div>
    <input id="address" type="textbox" value="San Francisco, CA">
    <button id="searchRemoteResults" type="button" value="Find by location">Search!</button>
  </div>

<div class="vegeta"><!-- Place at bottom of page --></div>

