<%= render "pages/signupinout" %>


  <div id="top-border">
  </div>

  <div id="find-shops">
    <button type="button" name="" value="" class="btn-block">Find a nice place to work</button>
  </div>


<div id="map_canvas"></div>
<ul id="map-native-results">


</ul>

<ul id="map-something">

</ul>

<div class="vegeta"><!-- Place at bottom of page --></div>

