<div id="header_action_box">
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to current_user.email %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <div class='signup'><li><%= button_to "Sign up!", new_user_registration_path, :method => 'get'%></li></div?>
    <% end %>

  </ul>
</div>

<div id="find-shops">
  <button type="button" name="" value="" class="btn-block">Find a nice coffee shop</button>
</div>

<div id="map_canvas"></div>



<ul id="map-something">
</ul>