


   <div id ="distant-search-field"><div id="distant-search-field-text">Find a nice place to work: </div>
    <input id="address" type="textbox" value="San Francisco, CA">
    <button id="searchRemoteResults" type="button" value="Find by location">Search!</button>
  </div>



  <div id="map_canvas"></div>
  <div id="map-native-results">


  </div>

  <div id="map-distant-results">


  </div>

  <div id="map-something">

  </div>



<div class="vegeta"><!-- Place at bottom of page --></div>

