<div id="map_canvas"></div>

<div class="find-shops"><button type="button" name="" value="" style="font-size: 32px;" class="btn-block">Find a nice coffee shop</button></div>

<ul id="map-something">
</ul>