<div id="header_action_box">
  <ul>
    <% if user_signed_in? %>
      <div class="signed_in_blue_links">
        <li><%= link_to current_user.email, edit_user_registration_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
      </div>
    <% else %>
      <div class="signed_in_blue_links">
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= button_to "Sign up!", new_user_registration_path, :method => 'get', :class => 'signup_button'%></li>
      </div>
    <% end %>
  </ul>
</div>