
<div id="pages_headers">About Wi-Chai</div>


<p>Welcome to Wi-Chai!<p>

<p>Wi-Chai was created by a group of programmers who live and work around San Francisco. We love being able to
  explore the city and find new and interesting places to try delicious beverages while coding on our Macbooks.
  If you're like most of us, you know that it can be a challenge in finding a place that meets your
  requirements.</p>

<p>Well, look no further. With a few simple clicks, you'll soon be able to find a lovely location where
  you can get work done with a refreshing drink at hand.</p>



<p>Thanks,</p>

<p>The Wi-Chai Staff</p>
