<br />
<div id="pages_headers">What is Wi-Chai?</div>
<br />
<p>Wi-Chai is a simple way to quickly find a nice coffee shop nearby you. If you're like one of the many
  telecommuters who live and work around the city, you know that it can be difficult finding a good local
  shop that is accommodating. Wi-Chai is the solution to that.</p>



<div id="pages_headers">How do I use Wi-Chai?</div>
<br />

<p>It's easy! Sign up for your free account. Once you are logged in, click the "Find a nice place to work"
  button, and Wi-Chai will automatically find your location and point you to locations that are within your
  vicinity.</p>

  

<div id="pages_headers">What technologies is Wi-Chai built with?</div>
<br />

<p>Wi-Chai is built using Ruby on Rails, HTML, CSS, Javascript, JQuery, AJAX.</p>

<div id="pages_headers">Who is the team behind Wi-Chai?</div>
<br />

<p>Wi-Chai was conceived and created by four software engineers who know the difficulty in finding a good place to work. Like many engineers,
  they like being able to sit down at a coffee shop with a nice atmosphere, fast WIFI, plenty of outlets, and of course, good coffee.
</p>

<br />
