<br />
<div id="top-border"></div>
<br />
<h1>What is Chai?</h1>

<p>Chai is a simple way to quickly find a nice coffee shop nearby you. If you're like one of the many
  telecommuters who live and work around the city, you know that it can be difficult finding a good local
  shop that is accommodating. Chai is the solution to that.</p>

<br />

<h1>How do I use Chai?</h1>

<p>It's easy! Sign up for your free account. Once you are logged in, click the "Find a nice place to work"
  button, and Chai will