/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: "Pacifico";
  src: url(/assets/Pacifico-webfont.eot);
  src: local("Pacifico Heavy"), local("Pacifico-Heavy"), url(/assets/Pacifico-webfont.eot) format("embedded-opentype"), url(/assets/Pacifico-webfont.woff) format("woff"), url(/assets/Pacifico-webfont.ttf) format("truetype"), url(/assets/Pacifico-webfont.svg) format("svg");
  font-weight: 900;
  font-style: normal;
}


/*************************************/
/* GENERAL STYLING                   */
/*************************************/

.info-window {
  width: 275px;
  height: 100px;
}

.info-window #info-window-address {
  float:left;
}

.info-window #info-window-image {
  float:right;
}

.info-window #info-window-image {
  float: right;
}

#map_canvas {
  height: 350px;
  width: 100%;
}

@media screen {
  html, body {
    height: auto;
  }
}

h2 {
  font-color: red;
}


#logo {
    display:inline;
    margin-left: auto;
    width: 50px;
    margin-top: 35px;
    margin-left: -20px;
}

#logo a img{ }

.signed_in_blue_links{
  padding: 34px;
}

#header_action_box {
    overflow: hidden;
    display: inline;
    float: right;
    /*margin-top: 20px;*/
}
#header_action_box ul {
  margin-top:0px;
}

#header_action_box li {
    display: inline;
    float: left;
    font-family: 'Pacifico', sans-serif;
    margin: 5px;
}

#header_action_box li a {
    display:block;
    position: relative;
    margin-top: 30px;
}

#signup input[type=submit]:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
    background-color:#4197ee;
}




#find-shops button{
  -moz-box-shadow:inset 1px 1px 3px -6px #fceaca;
  -webkit-box-shadow:inset 1px 1px 3px -6px #fceaca;
  box-shadow:inset 1px 1px 3px -6px #fceaca;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );
  background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
  background-color:#ffce79;
  -moz-border-radius:32px;
  -webkit-border-radius:32px;
  border-radius:32px;
  border:2px solid #eeb44f;
  color:#ffffff;
  font-family:arial;
  font-size:24px;
  font-weight:bold;
  padding:3px 20px;
  text-decoration:none;
  text-shadow:2px 2px 2px #ce8e28;
  position: relative;
  top: 6px;
  display:inline-block;
  float:left;
  margin-top: 0px;
  margin-bottom: 17px;
  height:50px;
  font-family: 'Pacifico', sans-serif;
}




#find-shops button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );
    background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
    background-color:#eeaf41;
}
#find_shops button:active {
    position:relative;
    top:1px;
}

#find-shops button {
    font-size: 30px;
}

.contact_form{
  display:inline-block;
  position: relative;
  margin-left: 365px;
  margin-right: auto;
}



.modal {
  left:60%;
  margin-left: -300px;
}



/****************************/
/* LOADING SCREEN ANIMATION */
/****************************/

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.vegeta {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('coffee-cup-animated_1.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .vegeta {
    display: block;
}




.contact_button {
  -moz-box-shadow:inset 0px 1px 0px -43px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px -43px #bbdaf7;
  box-shadow:inset 0px 1px 0px -43px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  -moz-border-radius:13px;
  -webkit-border-radius:13px;
  border-radius:13px;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:17px;
  font-weight:bold;
  padding:3px 20px;
  text-decoration:none;
  text-shadow:1px 0px 0px #528ecc;
  margin: 5px 5px 5px 150px;
  font-family: 'Pacifico', sans-serif;

}

.contact_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
}

.contact_button:active {
  position:relative;
  top:1px;
}
.signup button {
  margin-right: 0px;
}


#top-border {
  border-top: solid black 3px;
}



