/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

nav {
  margin: 15px 0px 15px 0px;
  border-top: solid #22419b 2px;
  padding-top: 10px;
}

nav a{
  padding-top: 10px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 40%;
  width: 100%;
}

@media print {
  html, body {
    height: auto;
  }
}
  #map_canvas {
    height: 400px;
  }


#logo {
    display:inline;
    margin-left: auto;
    margin-top: 35px;
}

#logo a img{
  margin-top:26px;
}

.signed_in_blue_links{
  margin-top: 70px;
}

#header_action_box {
    display: inline;
    float: right;
    margin-top: 20px;
}
#header_action_box ul {
  margin-top:0px;
}

#header_action_box li {
    display: inline;
    float: left;
    font-family: Arial, sans-serif;
    margin: 5px;
}

#header_action_box li a {
    position: relative;
    margin-top: 30px;
}

#header_action_box input[type=submit] {
    -moz-box-shadow:inset 0px 0px 0px 0px #cae3fc;
    -webkit-box-shadow:inset 0px 0px 0px 0px #cae3fc;
    box-shadow:inset 0px 0px 0px 0px #cae3fc;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:#ffffff;
    font-family:arial;
    font-size:24px;
    font-weight:bold;
    padding:15px 46px;
    text-decoration:none;
    text-shadow:-2px 2px 0px #287ace;
    margin-right: 0px;
}
#signup input[type=submit]:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
    background-color:#4197ee;
}




#find-shops button{
  -moz-box-shadow:inset 1px 1px 3px -6px #fceaca;
  -webkit-box-shadow:inset 1px 1px 3px -6px #fceaca;
  box-shadow:inset 1px 1px 3px -6px #fceaca;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );
  background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
  background-color:#ffce79;
  -moz-border-radius:32px;
  -webkit-border-radius:32px;
  border-radius:32px;
  border:2px solid #eeb44f;
  color:#ffffff;
  font-family:arial;
  font-size:24px;
  font-weight:bold;
  padding:3px 20px;
  text-decoration:none;
  text-shadow:2px 2px 2px #ce8e28;
  position: relative;
  top: 6px;
  display:inline-block;
  float:left;
  margin-top: 0px;
  margin-bottom: 20px;
  height:50px;

}




#find-shops button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );
    background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
    background-color:#eeaf41;
}
#find_shops button:active {
    position:relative;
    top:1px;
}

#find-shops button {
    font-size: 30px;
}

.contact_form{
  display:inline-block;
  position: relative;
  margin-left: 365px;
  margin-right: auto;
}

.contact_form #submit {
  border: 1px solid red;
}
/*
#table .table .table-striped {
  width: 500px !important;
}*/
.modal {
  left:60%;
  margin-left: -300px;
}



  .contact_button {
    -moz-box-shadow:inset 0px 1px 0px -43px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px -43px #bbdaf7;
    box-shadow:inset 0px 1px 0px -43px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    font-weight:bold;
    padding:3px 20px;
    text-decoration:none;
    text-shadow:1px 0px 0px #528ecc;
    margin: 5px 5px 5px 150px;

  }

  .contact_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
  }

  .contact_button:active {
    position:relative;
    top:1px;
  }
.signup button {
  margin-right: 0px;
}


#top-border {
  border-top: solid #22419b 5px;
}

