
<%= yield :scripts %>

<nav>
<a href="public/home.html.erb/">Home</a> |
<a href="public/about.html.erb/">About</a> |
<a href="public/faq.html.erb/">FAQ</a> |
<a href="public/contact.html.erb/">Contact</a>
</nav>
